{% load i18n %}

<div class="wrapper-comp-settings is-active editor-with-buttons" id="settings-tab">
  <ul class="list-input settings-list">
    {% for field, value, validator in fields %}
    <li class="field comp-setting-entry is-set">
      <div class="wrapper-comp-setting">
        <label class="label setting-label" for="{{ field.name }}_input">{{ field.display_name }}</label>
        <input required class="input setting-input" name="{{ field.name }}" id="{{ field.name }}_input" value="{{ value }}" data-validator="{{ validator }}" type="text" />
      </div>
      <span class="tip setting-help">{{ field.help }}</span>
    </li>
    {% endfor %}
  </ul>
  <div class="xblock-actions">
    <ul>
      <li class="action-item">
        <a href="#" class="button action-primary save-button">{% trans "Save" %}</a>
      </li>
      <li class="action-item">
        <a href="#" class="button cancel-button">{% trans "Cancel" %}</a>
      </li>
    </ul>
  </div>
</div>