{% load i18n %}

{% if not is_configured %}
<div class="wrapper-xblock-message xblock-validation-messages">
    <div class="xblock-message validation has-warnings ">
        <p class="warning">
            <i class="icon fa fa-warning"></i>
            {% trans "This checkpoint is not associated with an assessment yet." %} <a class="edit-button action-button" href="#">{% trans "Select an Assessment" %}</a>
        </p>
    </div>
</div>
{% endif %}

<div class="reverify-preview-msg">{% trans "To preview the checkpoint block, click Preview or View Live in Unit Settings." %}</div>
