$white: #FFF;
$red: #D0021B;
$light-gray: #DDDDDD;
$gray: #F2F4F5;
$dark-gray: #5E5E5E;
$shadow-gray: rgba(0, 0, 0, .1);
$light-blue: #0078b0;
$medium-blue: #268dc4;
$dark-blue: #007aba;
$green: #1F8819;

@mixin msg-box($highlight-color) {
    padding: 20px 30px;
    border-left: 5px solid $highlight-color;
    border-top: 1px solid $highlight-color;
    border-bottom: 1px solid $highlight-color;
    border-right: 1px solid $highlight-color;
    box-shadow: -1px 2px 3px $light-gray;
}

@mixin verification-msg-box(){
    background-color: $gray;
    padding: 30px;
    font-size: 16px;
    box-shadow: inset 1px 1px 2px $shadow-gray;
    border: 1px solid $light-gray;
}

.hidden {
    display: none
}

.reverify-clear-line {
    clear: both;
}

.reverify-xblock {
    @include text-align(left);

    .action {
        font: 16px/1.3 "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
        box-sizing: border-box;
        cursor: pointer;
        transition: color .25s ease-in-out, background .25s ease-in-out;
        display: inline-block;
        border: 1px solid $dark-blue;
        border-radius: 4px;
        padding: 10px 15px;
        text-align: center;
        text-decoration: none;
        background-image: none;
        box-shadow: none;
        text-shadow: none;

        &:hover,
        &:active,
        &:focus {
            background-color: $medium-blue;
            border: 1px solid $medium-blue;
            color: $white;
            text-decoration: none;
            background-image: none;
            box-shadow: none;
            text-shadow: none;
        }
    }

    .action-primary {
        background-color: $dark-blue;
        color: $white;
    }

    .action-secondary {
        border: 1px solid $white;
        background-color: transparent;
        color: $white;
    }

    .msg-title {
        margin-bottom: 12px;
        font-size: 22px;
        font-weight: 600;
    }

}

.faq-reverification-block{
    border-bottom: none;
    padding: 30px 0 20px 0;
    h4{
        margin-bottom: 12px;
        font-size: 22px;
        font-weight: 400;
    }
    .faq-link{
        display: block;
        padding: 10px 0;
    }
}

.reverify-now-wrapper {
    @include verification-msg-box();

    a {
        text-decoration: none;
        color: $light-blue;
    }

    .reverify-now-button {
        margin-top: 30px;
        width: 100%;
    }
}

.reverify-skip-confirm-wrapper {
    padding: 20px 30px;
    background-color: black;
    border-left: 5px solid $red;

    .msg-title,
    .msg-content {
        color: white;
    }

    .reverify-skip-actions {
        margin-top: 10px;
    }

    .reverify-skip-cancel-button {
        padding: 10px 30px;
        background-color: black;
        border: 1px solid white;
        color: white;
        width: 100%;
    }

    .reverify-skip-confirm-button {
        @extend .reverify-action-primary;
        margin-top: 15px;
        width: 100%;
    }
}

.reverify-basic {
    border: 2px solid $light-gray;
    padding: 20px 30px;
}

.reverify-skipped, .reverify-not-verified {
    @extend .reverify-basic;
}

.reverify-closed {
    @extend .reverify-basic;
}

.reverify-submitted {
    @include msg-box($dark-gray);
}

.reverify-approved {
    @include msg-box($green);
}

@media screen and (min-width: 716px) {
    .reverify-now-wrapper {
        .action-container{
            margin-top: 15px;
        }
        .reverify-now-content {
            width: 70%;
            position: relative;
            @include float(left);
        }

        .reverify-now-button {
            width: 15%;
            @include float(right);
        }
        .reverify-skip-link{
            margin-top: 30px;
            width: 10%;
            @include float(right);
            margin-left: 5px;
        }
    }

    .reverify-skip-confirm-wrapper {
        .reverify-skip-actions {
            @include float(right);
        }

        .reverify-skip-cancel-button,
        .reverify-skip-confirm-button {
            width: auto;
            display: inline-block;
        }
    }

    .reverify-xblock {
        .msg-content, .msg-title {
            @include margin-right(30px);
        }
    }

    .reverify-skip-confirm-wrapper {
        .msg-content, .msg-title {
            margin-left: 0;
            margin-right: 0;
        }
    }
}
